{% extends '../blocks/base.html' %}


{% block title %} {{topic | title}} | ThinkInSphere{% endblock title %}

{% block styles %}
  <style>
    header{
        position: fixed !important;
    }
  </style>
{% endblock styles %}

{% block body %}


<section id="course-topic" class="h-screen w-full p-6 pt-24 grid grid-cols-2 gap-5">
    <div class="grid grid-rows-2 gap-5 overflow-x-auto">
        <div id="summery" class="overflow-x-auto p-1">
            <h3 class="text-xl f-medium capitalize topic-headings max-w-fit">Summery of {{topic}}</h3>
            <p class="f-light mt-3">{{summery | linebreaksbr}}</p>
            </div>
            <div id="questions" class="overflow-x-auto p-1">
            <h3 class="text-xl f-medium capitalize topic-headings max-w-fit">notes of {{topic}}</h3>
            <p class="f-light mt-3">{{notes | linebreaksbr}}</p>
            </div>
        </div>
        <div id="notes" class="overflow-x-auto p-1">
        <h3 class="text-xl f-medium capitalize topic-headings max-w-fit">questions related {{topic}}</h3>
        <p class="f-light mt-3">{{question | linebreaksbr}}</p>
    </div>
</section>


{% endblock body %}