<header class="flex items-center justify-between py-1 px-14 z-30">
    <div>
        <a href="/"><img src="/static/images/Logo.png" alt="ThinkInSphere" class="w-20"></a>
    </div>

    <div>
        <ul class="flex items-center justify-center text-xl">
            <li><a href="" class="nav-links mx-1.5">Home</a></li>
            <li><a href="" class="nav-links mx-1.5">About Us</a></li>
            <li><a href="" class="nav-links mx-1.5">Chatbot</a></li>
            <li><a href="" class="nav-links mx-1.5">Explore Courses</a></li>
        </ul>
    </div>

    <div class="flex items-center justify-center">
        <div>
            <a href="" class="nav-links text-xl mr-5 f-medium">Login</a>
        </div>
        <div>
            <a href="" class="btn-1 text-xl">Chatbot</a>
        </div>
    </div>

</header>