{% extends '../blocks/base.html' %}

{% block title %} {{user_fname}}'s Dashboard | ThinkInSphere{% endblock title %}


{% block body %}

<section id="dashboard">
    <div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
        <div class="container max-w-screen-lg mx-auto">
            <div class="my-3">
                <div class="bg-white rounded-lg shadow-lg p-4 px-4 md:p-8 mb-6">
                    <div class="flex items-center space-x-5">
                        <div
                            class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-600 text-2xl font-mono">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="block pl-2 self-start text-gray-700">
                            <p class="font-medium text-xl f-bold">Personal Details</p>
                            <p class="f-light text-lg">You can edit them anytime. We don't share your data with anyone
                            </p>
                        </div>
                    </div>

                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="text-gray-600 mb-2 mt-12">
                            <p class="font-medium text-lg f-bold">Email - {{user.email}}
                            </p>
                            <p class="font-medium text-lg f-bold">Email Verified -
                                {% if user.is_verified %}
                                <i class="fa fa-check text-green-700 mx-1.5"></i>
                                {% else %}
                                <i class="fa fa-times text-red-700 mx-1.5"></i> <a href="{% url 'email-verification' %}"
                                    style="color: #97c680;">Verify Email</a>
                                {% endif %}
                            </p>

                            <p class="font-medium text-lg f-bold">
                                <a href="{% url 'reset-password' %}">Password - ******* <span
                                        style="color: #97c680;">Change</span></a>
                            </p>
                        </div>

                        <div id="personal-info" class="f-medium py-4">
                            <div class="grid grid-cols-3 gap-4 my-2.5">
                                <div class="flex flex-col">
                                    <label class="leading-loose capitalize">First Name</label>
                                    <input type="text"
                                        class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none {% if fname == 'None' %}text-gray-600{% endif %}"
                                        placeholder="Amit" name="fname" value="{{fname}}">
                                </div>
                                <div class="flex flex-col">
                                    <label class="leading-loose capitalize">Last Name</label>
                                    <input type="text"
                                        class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none {% if lname == 'None' %}text-gray-600{% endif %}"
                                        placeholder="Sharma" name="lname" value="{{lname}}">
                                </div>
                                <div class="flex flex-col">
                                    <label class="leading-loose capitalize">Language</label>
                                    <div class="flex justify-center">
                                        <div class="mb-3 xl:w-96">
                                          <select data-te-select-init name="language" class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none">
                                            <option value="en" {% if language == "en" %}selected{% endif %}>English</option>
                                            <option value="hi" {% if language == "hi" %}selected{% endif %}>Hindi</option>
                                            <option value="ben" {% if language == "ben" %}selected{% endif %}>Bengali</option>
                                          </select>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-3 gap-4 my-2.5">
                                <div class="flex flex-col">
                                    <label class="leading-loose capitalize">Date Of Birth</label>
                                    <input type="date"
                                        class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none {% if dob == "None" %}text-gray-600{% endif %}"
                                        name="dob" value="{{dob | date:"Y-m-d"}}">
                                </div>
                                <div class="flex flex-col">
                                    <label class="leading-loose capitalize">Country</label>
                                    <input type="text"
                                        class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none {% if country == 'None' %}text-gray-600{% endif %}"
                                        placeholder="India" name="country" value="{{country}}">
                                </div>
                                <div class="flex flex-col">
                                    <label class="leading-loose capitalize">city</label>
                                    <input type="text"
                                        class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none {% if city == 'None' %}text-gray-600{% endif %}"
                                        placeholder="Delhi" name="city" value="{{city}}">
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-8 my-2.5">
                                <div class="flex flex-col">
                                    <label class="leading-loose capitalize">Current Persuing Course(if any)</label>
                                    <input type="text"
                                        class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none {% if course == 'None' %}text-gray-600{% endif %}"
                                        placeholder="Bachelor in Physics" name="course" value="{{course}}">
                                </div>
                                <div class="flex flex-col">
                                    <label class="leading-loose capitalize">Current Institute</label>
                                    <input type="text"
                                        class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none {% if institute == 'None' %}text-gray-600{% endif %}"
                                        placeholder="Delhi University" name="institute" value="{{institute}}">
                                </div>
                            </div>
                        </div>

                        <div class="pt-4 flex items-center justify-end space-x-4">
                            <button type="submit" class="btn-2 w-2/5">
                                make changes
                            </button>
                    </form>
                </div>
            </div>
            <div id="user-stats" class="my-3">
                <div class="bg-white rounded-lg shadow-lg p-4 px-4 md:p-8 mb-6">
                    <div class="flex items-center space-x-5">
                        <div
                            class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-600 text-2xl font-mono">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="block pl-2 self-start text-gray-700">
                            <p class="font-medium text-xl f-bold">{% if user_fname == "" %}
                                User's
                                {% else %}
                                {{user_fname | title}}'s
                                {% endif %}
                                Statistics</p>
                            <p class="f-light text-lg">Here you can see your performance and activity data of last 7
                                days</p>
                            <p class="f-light text-sm">From {{last_week | date}} till now</p>
                        </div>
                    </div>

                    <div class="f-medium">
                        <div class=" mb-2 mt-12">
                            <p class="font-medium text-lg f-bold">Last Login - {{user.last_login}}
                            </p>
                            <p class="font-medium text-lg f-bold">Last Logout - {{user.last_logout}}
                            </p>
                        </div>
                    </div>

                    <div class="accordion-box mt-8">
                        <button class="accordion">Your ChatBot records {{searchHistoryCount}} searches in last
                            7 days <span class="f-light text-sm">(click to expand)</span></button>

                        <div class="panel">
                            <p class="f-light mb-2.5 text-gray-600 capitalize">Your unique searches were</p>
                            <div class="flex items-center justify-start flex-wrap">
                                {% if searchHistoryCount == 0 %}
                                <div class="text-sm p-1.5 mr-1.5 mb-2 text-red-600">You have not searched for anything
                                    from {{last_week | date}}
                                </div>
                                {% else %}
                                {% for item in searchHistory %}
                                <div class="text-sm p-2 mr-1.5 mb-2 bg-red-100 flex items-center justify-center">
                                    <div class="w-5 h-5 f-medium text-xs rounded-full flex items-center justify-center mr-1" style="background-color: #97c680;">{{item.count}}</div>
                                    <span>{{item.request | truncatewords:7}}</span>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-box mb-8">
                        <button class="accordion">You looked up for {{course_searchHistoryCount}} courses and
                            {{topic_searchHistoryCount}} topics in last
                            7 days <span class="f-light text-sm">(click to expand)</span></button>

                        <div class="panel">
                            <p class="f-light mb-2 text-gray-600 capitalize">courses you looked up for</p>
                            <div class="flex items-center justify-start flex-wrap">
                                {% if course_searchHistoryCount == 0 %}
                                <div class="text-sm p-1.5 mr-1.5 mb-2 text-red-600">You have not learned any course from
                                    {{last_week | date}}
                                </div>
                                {% else %}
                                {% for item in course_searchHistory %}
                                <div class="text-sm p-2 mr-1.5 mb-2 bg-red-100 flex items-center justify-center">
                                    <div class="w-5 h-5 f-medium text-xs rounded-full flex items-center justify-center mr-1"
                                        style="background-color: #97c680;">{{item.count}}</div>
                                    <span>{{item.request}}</span>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <p class="f-light mb-2 text-gray-600 capitalize mt-3.5">topics you looked up for</p>
                            <div class="flex items-center justify-start flex-wrap">
                                {% if topic_searchHistoryCount == 0 %}
                                <div class="text-sm p-1.5 mr-1.5 mb-2 text-red-600">You have not learned any topics from
                                    {{last_week | date}}
                                </div>
                                {% else %}
                                {% for item in topic_searchHistory %}
                                <div class="text-sm p-2 mr-1.5 mb-2 bg-red-100 flex items-center justify-center">
                                    <div class="w-5 h-5 f-medium text-xs rounded-full flex items-center justify-center mr-1"
                                        style="background-color: #97c680;">{{item.count}}</div>
                                    <span>{{item.request}}</span>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="my-6">
                        <p class="text-gray-600 f-light mb-2.5 capitalize">check which items you searched for and how
                            many times in last 7 days</p>

                        <div class="flex items-center bg-gray-200 rounded-md">
                            <div class="pl-2">
                                <i class="fa fa-search text-gray-600"></i>
                            </div>
                            <input
                                class="w-full rounded-md bg-gray-200 text-gray-800 f-medium leading-tight focus:outline-none p-2.5"
                                id="query-search" type="text" placeholder="Input Query">
                        </div>
                        <div class="py-3 text-sm overflow-x-auto" id="query-search-result" style="max-height: 250px;">
                        </div>
                    </div>

                    <div class="my-6">
                        <p class="text-gray-600 f-light mb-2.5 capitalize pb-3">Compare this week performance with
                            previous week
                        </p>
                        <div id="performance-box" class="flex items-center justify-between">

                            <div class="flex items-center justify-between w-full">
                                <div class="box flex-col items-center justify-center">
                                    <div class="percentage mx-auto">
                                        <div class="rounded-full flex items-center justify-center h-32 w-32" style="background: #97c680;">
                                            <div class="number">
                                                <p class="text-lg f-medium">{{chat_percent}}%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="f-light text-sm mt-1.5 capitalize">
                                        chat search has
                                        {% if chat_percent > 0 %}
                                        <span class="f-bold text-green-700">increased</span>
                                        {% else %}
                                        <span class="f-bold text-red-700">decreased</span>
                                        {% endif %}

                                        by {{chat_percent}}%
                                    </p>
                                </div>
                                <div class="box flex-col items-center justify-center">
                                    <div class="percentage mx-auto">
                                        <div class="rounded-full flex items-center justify-center h-32 w-32" style="background: #97c680;">
                                            <div class="number">
                                                <p class="text-lg f-medium">{{course_percent}}%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="f-light text-sm mt-1.5 capitalize">
                                        course search has
                                        {% if course_percent > 0 %}
                                        <span class="f-bold text-green-700">increased</span>
                                        {% else %}
                                        <span class="f-bold text-red-700">decreased</span>
                                        {% endif %}

                                        by {{course_percent}}%
                                    </p>
                                </div>
                                <div class="box flex-col items-center justify-center">
                                    <div class="percentage mx-auto">
                                        <div class="rounded-full flex items-center justify-center h-32 w-32" style="background: #97c680;">
                                            <div class="number">
                                                <p class="text-lg f-medium">{{topic_percent}}%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="f-light text-sm mt-1.5 capitalize">
                                        topic search has
                                        {% if topic_percent > 0 %}
                                        <span class="f-bold text-green-700">increased</span>
                                        {% else %}
                                        <span class="f-bold text-red-700">decreased</span>
                                        {% endif %}

                                        by {{topic_percent}}%
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="py-8">
                        <p class="text-gray-600 f-light mb-2.5 capitalize pb-3">Check your search-days graph below</p>
                        <div class="grid grid-cols-6 gap-3">
                            <div id="piechart" class="col-span-2 flex items-center justify-center"></div>
                            <div id="chart_div" class="col-span-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include '../blocks/dismisable-alert.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    //accordion controls
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

    //search bar
    $(document).ready(function () {
        $("#query-search").on("keyup", function () {
            if ($("#query-search").val().trim().length === 0) {
                $("#query-search-result").html("");
            } else {
                $.ajax({
                    url: ' {%url "dashboard-search-history"%}',
                    type: 'GET',
                    data: {
                        "query": $("#query-search").val().trim(),
                    },
                    success: function (response) {
                        // console.log(response);
                        result = ``;
                        if (response != "") {
                            for (let index = 0; index < response.length; index++) {
                                // console.log(response[index]["created_at"])
                                let created_at = response[index]["created_at"]
                                let request = response[index]["request"]
                                result += `
                                <div class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-100 rounded-md px-2 py-2 my-2">
                                    <span class="h-2 w-2 m-2 rounded-full" style="background-color:#97c680;"></span>
                                    <div class="flex-grow font-medium px-2">${request}</div>
                                    <div class="text-sm f-light text-gray-500 tracking-wide">${created_at}</div>
                                </div>
                                `;
                            }
                        }
                        $("#query-search-result").html(result);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }

        });
    });

    //google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawPieChart);

    function drawPieChart() {

        var data = google.visualization.arrayToDataTable([
            ['Task', 'Searches in last 7days'],
            ['ChatBot', {{ searchHistoryCount }}],
    ['Course', {{ courseHistoryCount }}],
        ['Topic', {{ topicHistoryCount }}],
    ]);

    var options = {
        title: 'Your Activities since {{last_week | date}}'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
    }


    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawBarChart);
    function drawBarChart() {
        var data = google.visualization.arrayToDataTable([
            ['Date', 'Bot Searches', 'Course Searches', 'Topic Searches'],
            {% for item in chart_data %}
                ['{{ item.0|date:"d-m-Y" }}', {{ item.1 }}, {{ item.2}}, {{ item.3}}],
            {% endfor %}
          
        ]);

    var options = {
        bars: 'vertical',
        vAxis: { format: 'decimal' },
        height: 400,
        colors: ['#1b9e77', '#d95f02', '#7570b3']
    };

    var chart = new google.charts.Bar(document.getElementById('chart_div'));

    chart.draw(data, google.charts.Bar.convertOptions(options));

    var btns = document.getElementById('btn-group');

    btns.onclick = function (e) {

        if (e.target.tagName === 'BUTTON') {
            options.vAxis.format = e.target.id === 'none' ? '' : e.target.id;
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    }
      }

</script>

{% endblock body %}