{% extends '../blocks/base.html' %}


{% block title %} {{room_name}} | Chat-Room{% endblock title %}


{% block body %}


<section id="chat">
    <div class="grid grid-cols-9">


        <div class="col-span-7" id="chat-container">

            <div id="chats" class="flex-col items-center justify-center pt-12 pb-32">
                <div class="mx-auto w-4/6 flex-col items center justify-center">
                    {% for chat in chats %}
                    <div id="request-{{chat.id}}" class="text-right my-2">
                        <div class="flex items-center justify-end max-w-fit ml-auto mb-1">
                            <p class="f-medium capitalize text-black">{{user.first_name}}</p>
                            <img src="/static/images/user-icon-black.png" class="ml-1.5 w-6" alt="Think-In-Sphere">
                        </div>
                        <div class="query-box-container">
                            <div class="query-box">
                                <span class="col-span-6 text-lg text-black f-light">
                                    {{chat.request}}
                                </span>
                            </div>
                        </div>
                        <p class="f-medium capitalize text-gray-600 text-xs">{{chat.created_at}}</p>
                    </div>
                    <div id="response-{{chat.id}}">
                        <div class="flex items-center justify-end max-w-fit mb-1">
                            <img src="/static/images/Logo.png" class="w-6 mr-1.5" alt="Think-In-Sphere">
                            <p class="f-medium capitalize text-black">Think-In-Sphere</p>
                        </div>
                        <div class="result-box-container">
                            <div class="result-box">
                                <span class="col-span-6 text-lg f-light">
                                    {{chat.response | linebreaksbr}}
                                </span>
                            </div>
                        </div>
                        <p class="f-medium capitalize text-gray-600 text-xs">{{chat.created_at}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="flex items-center justify-center mt-20 fixed bottom-10 w-full z-40">
                <div id="chat-form-container"
                    class="mx-auto w-full shadow-lg flex items-center justify-center max-w-max py-1.5 px-4 rounded-lg text-white">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input name="query" id="text-query" value="{{query}}" type="text"
                            class="mx-auto h-12 border-0 outline-none rounded-md text-white text-lg" autocomplete="off"
                            placeholder="Ask for anything">

                        <button type="submit" name="text-input" class="pr-3.5 pl-2">
                            <i class="fa fa-paper-plane p-color text-xl"></i>
                        </button>
                    </form>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" name="voice-input" class="pl-3.5 border-l" id="voice-input"><i
                                class="fa fa-microphone text-xl"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-span-2 border h-screen fixed top-14 right-0">
            <div class="hidden h-full pt-12 pb-16 px-5 z-20 flex-col justify-between items-center"
                id="rooms-container">
                <div class="">
                    <a href="{% url 'create-room' %}" class="square_btn-1 w-full rounded text-center">New Room <i
                            class="fa fa-plus ml-2"></i></a>
                </div>
                <div>
                    {% for chatroom in chatRooms %}
                    <div class="my-4 text-white text-sm ">
                        <a href="/chat/room/{{chatroom.room_id}}" class="flex justify-start items-start">
                            <i class="fa fa-commenting relative top-1"></i>
                            <p class="ml-2.5 font-medium">{{chatroom.room_name | truncatechars:40}}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="query-img" class="flex-col justify-evenly items-center py-16 px-6 h-full relative">
                {% if imgResult != "" %}
                  
                {% for img in imgResult %}
                    <div class="shadow-sm w-32 my-8">
                        <a href="{{img}}" target="_blank" class="w-full h-full"><img src="{{img}}" alt="{{query}}" class="rounded-lg w-full"></a>
                    </div>
                {% endfor %}
                
                {% else %}
                <div class="flex-col items-center justify-center w-full text-center">
                    <div class="h-full w-full text-center flex items-center justify-center rounded-lg border-4 border-dashed">
                        <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
                            <img class="has-mask w-full object-center" src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg" alt="exam-explainaion">
                        </div>
                    </div>
                    <p class="pointer-none text-gray-500 f-light">Image explaination of your search result will show up here</p>
                </div>
                {% endif %}

            </div>
        </div>

        <div id="room-container-btn" class="fixed top-24 left-7 cursor-pointer rounded-sm text-2xl z-50"
            style="color: #1e1e2f;">
            <i class="fa fa-bars"></i>
        </div>

        <!-- scroll to bottom btn  -->
        {% if chats != "" %}
        <i class="fa fa-arrow-circle-down fixed bottom-14 left-8 text-gray-700 text-2xl cursor-pointer z-50"
            onclick="scrollToBottom()"></i>
        {% endif %}

    </div>

</section>



{% include '../blocks/dismisable-alert.html' %}

<script>
    window.scrollTo(0, document.body.scrollHeight);

    function scrollToBottom() {
        window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth'
        });
    }

    const roomContainer = document.getElementById('rooms-container');
    const closeroomContainerBtn = document.getElementById('room-container-btn');

    closeroomContainerBtn.addEventListener('click', () => {
        roomContainer.classList.toggle('hidden');

        if (closeroomContainerBtn.querySelector("i").classList.contains("fa-bars")) {
            closeroomContainerBtn.querySelector("i").classList.remove("fa-bars");
            closeroomContainerBtn.querySelector("i").classList.add("fa-times");
        } else {
            closeroomContainerBtn.querySelector("i").classList.remove("fa-times");
            closeroomContainerBtn.querySelector("i").classList.add("fa-bars");
        }
    });


</script>

{% endblock body %}