{% extends '../blocks/base.html' %}


{% block title %} Create Room{% endblock title %}


{% block body %}


<section id="create-room">

    <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow-lg rounded-3xl sm:p-10">
                <div class="max-w-md mx-auto">
                    <div class="flex items-center space-x-5">
                        <div
                            class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-600 text-2xl font-mono">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="block pl-2 text-xl self-start text-gray-700">
                            <h2 class="leading-relaxed f-medium text-2xl">Create New Room</h2>
                            <h2 class="leading-relaxed f-light text-lg">Create seperate rooms to keep your searches organized</h2>
                        </div>
                    </div>
                    <form method="post" action="" class="divide-y divide-gray-200 f-light">
                        {% csrf_token %}
                        
                        {% if messages %}

                        {% for message in messages %}
                        <div class="{% if message.tags %}{{message.tags}}{% endif %} px-4 py-3 my-3 rounded relative"
                            role="alert">
                            <strong class="font-bold"><i class="fa fa-exclamation-triangle"></i></strong>
                            <span class="block sm:inline">{{message}}</span>
                        </div>
                        {% endfor %}

                        {% endif %}
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">

                            <div class="grid grid-cols-1">
                                <div class="flex flex-col">
                                    <label class="leading-loose">User</label>
                                    <input type="email"
                                        class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600 cursor-not-allowed"
                                        value="{{user_email}}" disabled>
                                </div>
                            </div>

                            <div class="grid grid-cols-1">
                                <div class="flex flex-col">
                                    <label class="leading-loose">Room Name</label>
                                    <input type="text"
                                        class="px-4 py-2 border focus:ring-gray-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none"
                                        placeholder="Give a room name" name="room_name" value="{{room_name}}">
                                </div>

                            </div>
                        </div>
                        <div class="pt-4 flex items-center space-x-4">
                            <button type="submit" class="btn-2 w-2/5">
                                Create Room
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock body %}