{% extends '../blocks/base.html' %}

{% block title %}ThinkInSphere | Home{% endblock title %}



{% block body %}

<section id="home" class="py-10 px-28">
    <div class="w-full h-full flex items-center justify-evenly">
        <div class="flex-col items-center justify-center">
            <div class="f-bold text-4xl capitalize">
                <span class="text-5xl" style="color: #97c680;">Studying</span> Online is now much easier
            </div>
        </div>
        <div id="hero-img-container">
            <img src="/static/images/home/undraw_learning_sketching_nd4f.png" alt="">
        </div>
    </div>
</section>


{% include '../blocks/dismisable-alert.html' %}

{% endblock body %}