@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");
.f-light, #chat #chat-container #text-query {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.f-medium, header .nav-links, .btn-2, form input {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.f-bold, .btn-1, .square_btn, .square_btn-1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.p-col {
  color: #97c680;
}

header {
  width: 100%;
  background: white;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 25px 60px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 25px 60px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

header .nav-links {
  display: inline-block;
  -webkit-box-shadow: inset 0 0 0 0 #97c680;
          box-shadow: inset 0 0 0 0 #97c680;
  color: #1e1e2f;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .nav-links:hover {
  -webkit-box-shadow: inset 0 -9px 0 0 #97c680;
          box-shadow: inset 0 -9px 0 0 #97c680;
}

.btn-1 {
  color: white;
  min-width: 160px;
  padding: 10px 30px;
  border-radius: 100px;
  background-color: #97c680;
  -webkit-box-shadow: inset 0 45px 0 -4.5px #1e1e2f;
          box-shadow: inset 0 45px 0 -4.5px #1e1e2f;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-1:hover {
  -webkit-box-shadow: inset 0 45px 0 -50px #1e1e2f;
          box-shadow: inset 0 45px 0 -50px #1e1e2f;
  color: #1e1e2f;
}

.btn-2 {
  text-transform: uppercase;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1e1e2f !important;
}

.btn-2:hover {
  color: black;
  background-color: #97c680 !important;
}

.square_btn, .square_btn-1 {
  text-transform: uppercase;
  display: inline-block;
  padding: 1em 2.8em;
  text-decoration: none;
  color: #97c680;
  border: solid 3.5px #97c680;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: none;
  text-align: center;
}

.square_btn:hover, .square_btn-1:hover {
  background: white;
  color: #1e1e2f;
  border-color: white;
}

.square_btn-1 {
  color: #1e1e2f;
  background: #97c680;
}

.square_btn-1:hover {
  color: white;
  border-color: #97c680;
  background: none;
}

form input {
  background: none;
}

form input:focus {
  border: 2px solid #97c680;
}

#chat-rooms .chat-room-box {
  border: 2px solid #97c680;
}

#chat-rooms .chat-room-box:hover {
  background: #ddf7d1;
}

#chat #rooms-container {
  background: #1e1e2f;
}

#chat #chat-container #chat-form-container,
#chat #chat-container #text-query {
  background-color: #1e1e2f;
}

#chat #chat-container #chat-form-container {
  position: relative;
  left: -11%;
}

#chat #chat-container #text-query {
  border: none;
  outline: none;
  width: 550px;
}

#chat #chat-container #chats .query-box-container,
#chat #chat-container #chats .result-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chat #chat-container #chats .query-box-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#chat #chat-container #chats .result-box-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#chat #chat-container #chats .query-box,
#chat #chat-container #chats .result-box {
  color: white;
  max-width: 65%;
  margin: 5px 0;
  border-radius: 10px;
  padding: 0.65rem 1rem;
}

#chat #chat-container #chats .query-box {
  background-color: #97c680;
  border-top-right-radius: 0;
}

#chat #chat-container #chats .result-box {
  background-color: #1e1e2f;
  border-top-left-radius: 0;
}
/*# sourceMappingURL=styles.css.map */