
<div id="overlay" class="hidden"></div>
<div class="w-full h-screen top-0 left-0 absolute items-center justify-center hidden" id="listening-box">
    <div class="py-16 px-20 flex-col items-center justify-center" style="border-radius: 20px; background-color: #1c1c24;">
        <i id="listening-close-btn" class="fa fa-close text-white text-3xl relative -top-10 -right-72 cursor-pointer"></i>
        <div class="circle mx-auto flex items-center justify-center">
            <i class="fa fa-microphone text-5xl" style="color: #28bfc0;;"></i>
        </div>
        <div class="content-box mt-5">
            <div class="waviy">
                <span style="--i:1">L</span>
                <span style="--i:2">I</span>
                <span style="--i:3">S</span>
                <span style="--i:4">T</span>
                <span style="--i:5">E</span>
                <span style="--i:6">N</span>
                <span style="--i:7">I</span>
                <span style="--i:8">N</span>
                <span style="--i:9">G</span>
                <span style="--i:10">.</span>
                <span style="--i:11">.</span>
            </div>
        </div>
    </div>
</div>
<script>
    const voiceInput = document.getElementById("voice-input")
    const listeningBox = document.getElementById("listening-box")
    const listeningCloseBtn = document.getElementById("listening-close-btn")


    voiceInput.addEventListener("click", () => {
        listeningBox.style.display = "flex"
        document.getElementById("overlay").style.display = "flex"
    });

    listeningCloseBtn.addEventListener("click", () => {
        listeningBox.style.display = "none"
        document.getElementById("overlay").style.display = "none"
        location.reload();
    });


</script>