@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");

$primary-col: #97c680;
$secondary-col: #1e1e2f;
$primary-bg: #ddf7d1;

.f-light {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.f-medium {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}
.f-bold {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.p-col {
  color: $primary-col;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Set the background color of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Set the color and rounded corners of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Set the color and hover effects of the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: $secondary-col;
}

header {
  width: 100%;
  background: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 25px 60px 0px;
  position: sticky;
  top: 0;
  left: 0;
  .nav-links {
    @extend .f-medium;
    display: inline-block;
    box-shadow: inset 0 0 0 0 $primary-col;
    color: $secondary-col;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    &:hover {
      box-shadow: inset 0 -9px 0 0 $primary-col;
    }
  }
}

.btn-1 {
  @extend .f-bold;
  color: white;
  min-width: 160px;
  padding: 10px 30px;
  border-radius: 100px;
  background-color: $primary-col;
  box-shadow: inset 0 45px 0 -4.5px $secondary-col;
  text-align: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: inset 0 45px 0 -50px $secondary-col;
    color: $secondary-col;
  }
}

.btn-2 {
  @extend .f-medium;
  text-transform: uppercase;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: $secondary-col !important;
  &:hover {
    color: black;
    background-color: $primary-col !important;
  }
}

.square_btn {
  @extend .f-bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 1em 2.8em;
  text-decoration: none;
  color: $primary-col;
  border: solid 3.5px $primary-col;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  background: none;
  text-align: center;
  &:hover {
    background: white;
    color: $secondary-col;
    border-color: white;
  }
}

.square_btn-1 {
  @extend .square_btn;
  color: $secondary-col;
  background: $primary-col;
  &:hover {
    color: white;
    border-color: $primary-col;
    background: none;
  }
}

.topic-btn-1{
  @extend .btn-1;
  border-radius: 4px;
  font-size: 0.8rem;
}

form {
  input {
    background: none;
    @extend .f-medium;
    &:focus {
      border: 2px solid $primary-col;
    }
  }
}

#chat-rooms {
  .chat-room-box {
    border: 2px solid $primary-col;
    &:hover {
      background: $primary-bg;
    }
  }
}

#chat {
  #query-img {
    div {
      height: 275px;
      width: 275px;
    }
  }
  #rooms-container {
    background: $secondary-col;
  }
  #chat-container {
    #chat-form-container,
    #text-query {
      background-color: $secondary-col;
    }
    #chat-form-container {
      position: relative;
      left: -11%;
    }
    #text-query {
      @extend .f-light;
      border: none;
      outline: none;
      width: 550px;
    }

    #chats {
      .query-box-container,
      .result-box-container {
        display: flex;
        align-items: center;
      }
      .query-box-container {
        justify-content: end;
      }

      .result-box-container {
        justify-content: start;
      }
      .query-box,
      .result-box {
        color: white;
        max-width: 65%;
        margin: 5px 0;
        border-radius: 10px;
        padding: 0.65rem 1rem;
      }
      .query-box {
        background-color: $primary-col;
        border-top-right-radius: 0;
      }
      .result-box {
        background-color: $secondary-col;
        border-top-left-radius: 0;
      }
    }
  }
}

#dashboard {
  #user-stats {
    .accordion {
      @extend .f-medium;
      text-transform: capitalize;
      border-radius: 8px;
      margin: 10px 0;
      background-color: #eee;
      color: $secondary-col;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active,
    .accordion:hover {
      background-color: $primary-bg;
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
      @extend .f-light;
      padding: 0 8px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
    .accordion:after {
      content: "\02795"; /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
  }
}

#course-topic {
  .topic-headings {
    box-shadow: inset 0 -9px 0 0 $primary-bg;
  }
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
#performance-box {
 .box{
  .percentage{
    position: relative;
    width: 150px;
    height: 150px;
  }
 }  
}



@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 200px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  &.gt-50 {
    background-color: $secondary-col;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: $secondary-col;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}