@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");

$primary-col: #97c680;
$secondary-col: #1e1e2f;
$primary-bg: #ddf7d1;

.f-light {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.f-medium {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}
.f-bold {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.p-col {
  color: $primary-col;
}

header {
  width: 100%;
  background: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 25px 60px 0px;
  position: sticky;
  top: 0;
  left: 0;
  .nav-links {
    @extend .f-medium;
    display: inline-block;
    box-shadow: inset 0 0 0 0 $primary-col;
    color: $secondary-col;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    &:hover {
      box-shadow: inset 0 -9px 0 0 $primary-col;
    }
  }
}

.btn-1 {
  @extend .f-bold;
  color: white;
  min-width: 160px;
  padding: 10px 30px;
  border-radius: 100px;
  background-color: $primary-col;
  box-shadow: inset 0 45px 0 -4.5px $secondary-col;
  text-align: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: inset 0 45px 0 -50px $secondary-col;
    color: $secondary-col;
  }
}

.btn-2 {
  @extend .f-medium;
  text-transform: uppercase;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: $secondary-col !important;
  &:hover {
    color: black;
    background-color: $primary-col !important;
  }
}

.square_btn {
  @extend .f-bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 1em 2.8em;
  text-decoration: none;
  color: $primary-col;
  border: solid 3.5px $primary-col;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  background: none;
  text-align: center;
  &:hover {
    background: white;
    color: $secondary-col;
    border-color: white;
  }
}

.square_btn-1 {
  @extend .square_btn;
  color: $secondary-col;
  background: $primary-col;
  &:hover {
    color: white;
    border-color: $primary-col;
    background: none;
  }
}



form {
  input {
    background: none;
    @extend .f-medium;
    &:focus {
      border: 2px solid $primary-col;
    }
  }
}




#chat-rooms {
  .chat-room-box {
    border: 2px solid $primary-col;
    &:hover {
      background: $primary-bg;
    }
  }
}



#chat {
  #rooms-container {
    background: $secondary-col;
  }
  #chat-container {
    #chat-form-container,
    #text-query {
      background-color: $secondary-col;
    }
    #chat-form-container {
      position: relative;
      left: -11%;
    }
    #text-query {
      @extend .f-light;
      border: none;
      outline: none;
      width: 550px;
    }

    #chats {
      .query-box-container,
      .result-box-container {
        display: flex;
        align-items: center;
      }
      .query-box-container {
        justify-content: end;
      }

      .result-box-container {
        justify-content: start;
      }
      .query-box,
      .result-box {
        color: white;
        max-width: 65%;
        margin: 5px 0;
        border-radius: 10px;
        padding: 0.65rem 1rem;
      }
      .query-box {
        background-color: $primary-col;
        border-top-right-radius: 0;
      }
      .result-box {
        background-color: $secondary-col;
        border-top-left-radius: 0;
      }
    }
  }
}
